<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="Notes" >
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title %}
        {% endblock %}

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body class="wrap">
      <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


        <header>
            <nav class="group">
                <a href="/"><i class="fa fa-home"></i>Home</a>
                <a href="/tag/"><i class="fa fa-tags"></i>Tags</a>
                <a href="/category/"><i class="fa fa-book"></i>Categories</a>
          </nav>
        </header>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>

        {% block scripts %}
        {% raw %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    processClass: "math"
                },
                Tex: {
                    TagSide: "left",
                    TagIndent: "1.2em",
                    equationNumbers: { autoNumber: "AMS" },
                    Macros: {
                        ensuremath: ["#1",1],
                        textsf: ["\\mathsf{\\text{#1}}",1],
                        texttt: ["\\mathtt{\\text{#1}}",1]
                    }
                },
                "HTML-CSS": {
                    scale: 100,
                    availableFonts: ["TeX"], 
                    preferredFont: "TeX",
                    webFont: "TeX",
                    imageFont: "TeX",
                    EqnChunk: 1000
                }
            });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full" type="text/javascript"></script>
        {% endraw %}
        {% endblock %}
    </body>
</html>
