{% extends "base.html" %}

{% block title %}
<title> Note Edit | {{ note.title }} </title>
{% endblock %}

{% block content %}

<form action="/api/note/{{ note.id }}" method="post">
    Title <input type="text" name="title" size=60 value="{{ note.title }}"> <br/>
    Source <input type="text" name="source" size=60 value="{{ note.source }}"> <br/>
    Category <input type="text" name="category" size=60 value="{{ note.category }}"> <br/>
    Tags <input type="text" name="tags" size=60 value="{{ tags }}"> <br/>

    Note: <div id="epiceditor-note"> </div>
        <textarea style="display: None" name="text" id="note-md">{{ note.text }}</textarea>

    {% if note.clip %}
    Clip <div id="epiceditor-clip"> </div> 
        <textarea style="display: None" name="clip" id="clip-md">{{ note.clip }}</textarea>
    {% endif %}

    <input type="submit">

</form>


<script src="/static/js/epiceditor.min.js"> </script>
<script type="text/javascript">
    var note_opts = {
        container: 'epiceditor-note',
        textarea: 'note-md',
        basePath: '/static/epiceditor',
    };
    var note_editor = new EpicEditor(note_opts).load();

    {% if note.clip %}
    var clip_opts = {
        container: 'epiceditor-clip',
        textarea: "clip-md",
        basePath: '/static/epiceditor',
        clientSideStorage: false,
    };
    var clip_editor = new EpicEditor(clip_opts).load();
    {% endif %}
</script>
{% endblock %}
