{% extends "base.html" %}

{% block title %}
<title> Note Annotation | {{ note.title }} </title>
{% endblock %}

{% block content %}


<article>
	<header>
		<h1>{{ note.title }}</h1>
                <div> Created: <time class="timeago postlist-meta" datetime="{{ note.created.ctime() }}">
                        <i class="fa fa-calendar"></i> {{ note.created.ctime() }}
                </time> </div>

                <div> Updated: <time class="timeago postlist-meta" datetime="{{ note.updated.ctime() }}">
                    <i class="fa fa-calendar"></i> {{ note.updated.ctime() }}
                </time> </div>

                <div> <strong> {{ note.category }} </strong> &ndash;
                    <span class="tags">
                        {% for tag in note.tags %}
                        <span> <a href="{{ url_for('show_tag', tag_name=tag.name) }}">
                                <i class="fa fa-tag"></i>{{ tag.name }}</a></span>
                        {% endfor %}
                    </span>
                </div>
                {% if note.source %}
                    <a href="{{ note.source }}"> {{ note.source }} </a>
                {% endif %}

	</header>
	<section>
            <h2> Notes </h2>
            <pre id="note-md"> {{ note.text }} </pre>
	</section>
</article>

<button id="submit-annotations"> Submit </button>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
<script type="text/javascript">
    var note_ann = $('#note-md').annotator();

    $("#submit-annotations").click(function() {
        var note = $("#note-md").text;
        alert("hello!");
    });
</script>

{% endblock %}
